body {
  background-color: #e9ecef;
}
.App {
  text-align: center;
}
.col-1 {
    background-color: #742fc4;
    height: 100vh;
    color: #fff;
    font-size: 19px;
}
.row {
  background: #fff;
  border: 1px solid #f8f9fa;
  padding: 15px 10px;
}
.col-lg-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-dark {
  max-width: 130px;
  display: block;
  text-align: left;
}